#sidebar::-webkit-scrollbar {
    width: 10px;
}

#sidebar::-webkit-scrollbar-track {
    background: #353535;
    border-radius: 4px;
}

#sidebar::-webkit-scrollbar-thumb {
    background: #e99657;
    border-radius: 4px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: #e47723;
}